.subtitle {
  margin-bottom: 8px;
}

.description {
  font-size: 11px;
  color: var(--rgb-gray-dark);
  margin-bottom: 24px;
}

.image {
  margin-bottom: 9px;
  position: relative;
  width: 160px;
  height: 160px;
}

.textareaBackground {
  position: relative;
  width: 200px;
  height: 105px;
}

.textBox {
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 16px 16px 26px;
}

.textarea {
  background-color: transparent;
  width: 100%;
  height: 100%;
  font-size: 14px;
  overflow: scroll;
}

.button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 27px;
}
