.main {
  background-color: var(--rgb-gray-bright);
  border-radius: 10px;
  width: 100%;
  max-width: 100%;
  height: fit-content;
  padding: 35px 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
}

.title {
  color: var(--rgb-purple);
  text-align: center;
  font-size: 18px;
  font-weight: 700;
}

.image {
  position: relative;
  max-width: 100%;
  width: 100%;
  height: auto;
  aspect-ratio: 240/296;
  object-fit: contain;
}

.content {
  text-align: center;
  font-size: 16px;
}
