.main {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (max-width: 568px) {
  .main {
    height: -webkit-fill-available;
    height: fill-available;
  }
}

.message {
  color: var(--foreground-rgb-rev);
}
