.main {
  width: 100vw;
  height: 100vh;
  height: -webkit-fill-available;
  height: fill-available;
  background: linear-gradient(
    109deg,
    #242424 2.13%,
    #243834 46.13%,
    #244d45 97.05%
  );
}

.mainTitle {
  top: 70px;
  margin: 0 auto;
  position: relative;
  width: 215px;
  height: 169px;
}
