.main {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(
    104deg,
    #000 1.68%,
    #244d45 97.15%,
    rgba(36, 77, 69, 0) 97.15%
  );
}

.mainTitle {
  top: 70px;
  margin: 0 auto;
  position: relative;
  width: 366px;
  height: 288px;
}
