.background {
  background-color: var(--rgb-gray-light);
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 29px;
}
.main {
  width: fit-content;
  height: fit-content;
  padding: 20px 30px 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.title {
  font-size: 16px;
  font-weight: 700;
}

.list {
  width: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 20px;
}

.item {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.itemImage {
  position: relative;
  width: 40px;
  height: 40px;
  flex-shrink: 0;
}

.itemBar {
  max-width: 100%;
  height: 25px;
  background-color: var(--rgb-purple);
  border-radius: 8px;
}

.itemNum {
  width: 40px;
  text-align: start;
  flex-shrink: 0;
  color: #818198;
  font-size: 12px;
  font-weight: 400;
}
