.main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.title {
  color: var(--foreground-rgb);
  text-align: center;
  font-size: 50px;
  font-weight: 700;
  z-index: 10;
}

.titleName {
  background-color: var(--background-rgb-rev);
  color: var(--foreground-rgb-rev);
  z-index: 10;
}

.description {
  background-color: var(--rgb-gray-light);
  text-align: center;
  font-size: 20px;
  padding: 4px 16px;
  border-radius: 100px;
  z-index: 10;
}

.images {
  display: block;
  position: relative;
  width: 100%;
  height: 400px;
  overflow: visible;
}

.imageDog,
.imageCat {
  position: absolute;
  height: auto;
  aspect-ratio: 1;
}

.imageDog {
  top: 0;
  left: 0;
  transform: rotate(-15deg);
}

.imageCat {
  bottom: 0;
  right: 0;
  transform: rotate(15deg);
}
