.main {
  position: relative;
  overflow: visible;
  width: 300px;
  max-width: calc(100vw - 20px);
  height: 280px;
  min-height: 280px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 32px;
  margin-top: 11px;
  margin-bottom: 20px;
}

.images {
  display: block;
  max-width: 210px;
}

.imageDog,
.imageCat {
  position: absolute;
  height: auto;
  aspect-ratio: 1;
  flex-shrink: 0;
}

.imageDog {
  top: 0;
  left: 0;
  transform: translateX(7px) rotate(-7.5deg) translateY(10px);
}

.imageCat {
  bottom: 0;
  right: 0;
  transform: rotate(7.5deg);
  transform: translateX(-12px) rotate(7.5deg) translateY(-10px);
}
