.header {
  width: 280px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 38px;
  margin-bottom: 8px;
}

.title {
  color: var(--secondary-green);
}

.back {
  position: relative;
  width: 15px;
  height: 18px;
}
