.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 27px;
}

.description {
  margin-bottom: 22px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.descriptionTitle {
  color: var(--primary-green);
  font-size: 12px;
  font-weight: 700;
}

.descriptionContent {
  color: var(--rgb-gray-dark);
  font-size: 10px;
}
