.background {
  background-color: var(--rgb-gray-light);
  width: 100vw;
  height: 220px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 29px;
}
